body
{
    margin: 0px;
}

.header_linha
{
    background-color: rgb(2, 115, 64);
    height: 10px;
}

.header_container
{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.header_container_left
{
    cursor: pointer;
    padding-right: 20px;
}

.header_container_right
{
    display: flex;
    flex-direction: row;
}

.header_container_right_caixa
{
    padding-right: 30px;
}

.header_container_right_search
{
    border: 1px solid rgba(128, 128, 128, 0.684);
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_container_right_input
{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    width: 170px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 18px;
}

.header_container_right_loupe
{
    cursor: pointer;
    padding-right: 10px;
}

.header_container_right_menu
{
    cursor: pointer;
    margin-top: 5px;
}

@media(max-width:510px)
{
    .header_container_right_input
    {
        width: 130px;
    }

    .header_container
    {
        padding: 0px 90px;
    }
}

@media(max-width:455px)
{
    .header_container_right_input
    {
        width: 90px
    }

    .header_container
    {
        padding: 0px 30px;
    }

}